USERS_SERVICE_PORT=3000               # Port used by the users service
JWT_SERVICE_PORT=3005                 # Port used by the jwt service
JWT_SERVICE_URL=http://jwt:3005       # URL for the JWT service
BLOCKCHAIN_SERVICE_PORT=3001            # Port used by the blockchain service