USERS_SERVICE_PORT=3000       # Port for the users service
SECRETKEY=secret_key        # Secret phrase key for JWT
JWT_SERVICE_URL=http://jwt:3000 # URL for the JWT service
BLOCKCHAIN_SERVICE_PORT= # Port for the blockchain service